<footer>
  <p>(ɔ) Аляксей Раманчук 2024. All rights reversed.</p>
  <a href="https://www.flaticon.com/free-icons/board-game" title="board game icons">Board game icons created by Freepik - Flaticon</a>
</footer>