<!DOCTYPE html>
<html lang="be">

<head>
  <title>Пра нас | Інтэрнэт-крама настольных гульняў</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='icon' href='/images/interface/icon.png' />
  <link rel="stylesheet" type="text/css" href="/style/about.css" />
</head>

<%
var pageName = 'about';
var isAdmin = account.role === process.env.DATABASE_ADMIN_ROLE_TITLE;
var isClient = account.role === process.env.DATABASE_CLIENT_ROLE_TITLE;
var isGuest = !isAdmin && !isClient;
var globals = { pageName, isAdmin, isClient, isGuest };
%>

<body>
  <script src='/script/common.js'></script>

  <%- include('./partials/header.ejs', { ...globals }) %>
  <div class="content">
    <%- include('./partials/menu.ejs', { ...globals }) %>
    <main>
      <div class="text">
        <p>ІП Раманчук А. М.</p>
        <p>Пасведчанне 291359444 выдадзена 30.08.2021 Мінскім гарвыканкамам</p>
        <p>УНП 291359444</p>
        <p>Дата рэгістрацыі ў Гандлёвым рэестры РБ: 08.05.2020</p>
        <p class="blue">Кантактны тэлефон: +375-25-547-46-02</p>
        <p class="blue">Адрас для паштовых адпраўленняў: 221040. Кульман, 53-166</p>
        <p class="blue">E-mail: bgstore@gmail.com</p>
        <br />
        <p>Сардэчна запрашаем у нашу краму Board Games Store! Мы прадаём настольныя гульні :)</p>
        <p>Вам абавязкова спадабаецца наша крама, КАЛІ:</p>
        <ul>
          <li>Вам падабалася ў дзяцінстве гуляць у "Манаполію";</li>
          <li>Вы з задавальненнем успамінаеце, як гулялі з сябрамі ў "Мафію";</li>
          <li>Вы шукаеце, чым бы з карысцю захапіць дзіця;</li>
          <li>Вам надакучылі шахматы, шашкі, нарды;</li>
          <li>Вы шукаеце, чым бы разнастаіць сустрэчу з сябрамі;</li>
          <li>Вы шукаеце арыгінальны падарунак;</li>
          <li>Вы любіце займальна і разнастайна вольны час у коле сям'і;</li>
          <li>Вы - фанат_ка настолак!</li>
        </ul>
        <br />
        <p>У нас вы знойдзеце: разнастайныя настольныя гульні на любы густ; навінкі, а таксама гульні, правераныя часам - і ўсё гэта па нізкіх коштах!</p>
        <p>У нашай краме мы імкнёмся сабраць для сваіх пакупнікоў самыя цікавыя настольныя гульні. Увогуле, з задавальненнем гуляем і мы самі. Мы з радасцю дапаможам вам выбраць гульню па гусце.</p>
        <p>Дзякуй за тое, што зазірнулі ў нашу краму. Мы заўсёды радыя Вам!</p>
      </div>
    </main>
  </div>
  <%- include('./partials/footer.ejs', { ...globals }) %>
</body>

</html>